# Created by .ignore support plugin (hsz.mobi)
.husky
src/
coverage/
config/
public/
scripts/
build/
example/
.idea
react-swift-slider-example.gif
.babelrc
.prettierrc
.prettierignore
.travis.yml
jest-setup.js
rollup.config.js
CHANGELOG.md