.swift-slider-container {
  position: relative;
  height: 450px;
  @media (max-width: 600px) {
    height: 250px;
  }

  .swift-slider-slides {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    @media (max-width: 600px) {
      height: 250px;
    }
  }

  .swift-slider-dots {
    list-style: none;
    margin: 1.7rem 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 1rem 0;
    }
  }
}

.row {
  display: flex;
  flex-direction: row
}


