
.swift-slider-prev {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: enter;
    z-index: 10;
    background: linear-gradient(to right, rgba(0,0,0,0.5) , transparent);
    padding: 0 2rem;
    width: 30%;
    cursor: pointer;
  }

.swift-slider-next {
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: linear-gradient(to right, transparent, rgba(0,0,0,0.5));
  padding: 0 2rem;
  width: 30%;
  cursor: pointer;
}
