.container {
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
}
.slides {
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.dots {
  list-style: none;
  margin: 1.5rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
